@font-face {
  font-family: bobsBold;
  src: url(./fonts/BobsBurgers.ttf);
}
@font-face {
  font-family: bobsLight;
  src: url(./fonts/BobsBurgers2.ttf);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

#content {
  justify-self: center;
  background-color: rgb(228, 248, 255);
  border: 5px solid rgb(255, 55, 55);
  min-height: 100%;
}

#mainpage-container {
  display: grid;
  gap: 30px;
  padding: 20px;
}

.header-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#header {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: red;
  margin: 0;
  font-size: clamp(1rem, calc(0.8rem + 5vw), 10rem);
}
.frame {
  border: 3px solid rgb(255, 55, 55);
  background-color: rgb(255, 255, 56);
}

#navContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
#mainInfo {
  text-align: center;
}
#family_pic {
  width: clamp(15rem, calc(1rem + 13vw), 30rem);
  height: auto;
}

.info {
  margin-top: 10px;
  font-family: "Brush Script MT", cursive;
  font-size: clamp(1rem, calc(0.2rem + 0.8vw), 2rem);
  font-weight: lighter;
  padding-bottom: 10px;
}
p {
  margin: 0;
}
.header {
  justify-self: flex-start;
  font-size: clamp(2rem, calc(1rem + 2vw), 2.5rem);
}
#navBar {
  display: flex;
  justify-content: space-evenly;
  font-size: clamp(2rem, calc(1rem + 2vw), 3.4rem);
  width: calc(10rem + 40vw);
}

#homeContent {
  display: grid;
  justify-content: center;
  justify-self: center;

  width: 70%;
  max-width: 900px;
  gap: 20px;
}

.homeContainers {
  display: grid;
  justify-items: center;
  padding: 10px;
}

.large-font {
  font-family: "bobsBold";
}

.medium-font {
  font-family: "bobsLight";
  letter-spacing: clamp(0px, calc(3px + 0.3vw), 40px);
}

/* 
  .large-font {
    font-size: clamp(1rem, 5vw, 3rem);
  }
  .medium-font {
    font-size: clamp(1rem, 4vw, 1.5rem);
  }
  
  
  
  #homeContent {
    display: grid;
    justify-self: center;
    width: 80%;
    margin-top: 40px;
    gap: 20px;
  }
  .homeContainers {
  }
  
  @container;
   */
